<!-- 도서 검색 페이지 -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0,user-scalable=no"/>
    <link type="text/css" href="stylesheets/style.css" rel="stylesheet" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>도서 검색</title>
</head>

<body>
<header>

    <div><a><img id = "logo1" src = "images/etc/logo1.jpg" alt = "logo1"></a></div>
    <div>
        <ul>

            <li><img id = "logo2" src = "images/etc/logo2.jpg" alt = "logo2"></li>
            <br/>

            <li class = "search">
                <form action = "/search">
                    <input type = "text" id = "book" name = "bookInfo" required = "required">
                    <input type = "submit" id = "search" value = "도서 검색">
                </form>
            </li>
        </ul>
    </div>
    <div>
        <form action = "/logout" method = "post">
            <span><%=userId%>님</span>
            <input type = "submit" value = "로그아웃" id = "logout">
        </form>
    </div>
</header>

<nav>
    <ul>
        <li id = "notice"><a href = "/notice">공지사항</a></li>
        <li id = "recommend"><a href = "/customize">맞춤형 추천 도서</a></li>
        <li id = "borrow"><a href = "/borrowReserve">대출/예약 현황</a></li>
        <li id = "mypage"><a href = "/myPage">마이 페이지</a></li>
    </ul>
</nav>
<section>
    <div id = "searchDiv">
        <div id = "searchDivDetail">
            <h3><b>도서 검색</b></h3>
            <hr>
            <div style="width:858px; height:550px; overflow:auto" border="1px solid black" id = "booKList">
                <table>
                    <tr>
                        <td>
                <%for(var i = 0; i < bookInfo.length; i++){%>
                <p><font size="4px"><a href = "/searchDetail?bookNo=<%=bookInfo[i].bkNo%>" id = "bookName"><%=bookInfo[i].bkName%></a></font></p>
                <p>
                    저자 : <%=bookInfo[i].bkAuth%> &nbsp; | &nbsp;
                    출판사 : <%=bookInfo[i].bkPub%> &nbsp; | &nbsp;
                    장르 : <%=bookInfo[i].bkGenre%> &nbsp; | &nbsp;
                    도서번호 : <%=bookInfo[i].bkNo%>
                </p>
                <p>위치 : 세이덴도서관 제<%=bookInfo[i].bkNo.charAt(0)%>문헌정보실 <%=bookInfo[i].bkNo.substring(1, 2)%>번 책장 <%=bookInfo[i].bkNo.substring(2, 3)%>줄</p>
                <hr>
                <%}%>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</section>

<footer>
    <div id = "private">개인 정보 처리 방침</div>
    <div id = "path">찾아오시는 길</div>
</footer>
</body>
</html>